.git
.gitignore
.env
env
.dockerignore
Dockerfile
docker-compose.yml
kubernetes
__pycache__
ms/__pycache__
ms/customers/__pycache__
ms/models/__pycache__
ms/products/__pycache__
ms/validations/__pycache__
migrations
ms/migrations
LICENSE
README.md